framework/
cms/
/subsites
/googlesitemaps
/gridfieldextensions
/memberprofiles
/gridfield-bulk-editing-tools
/silverstripe-newsmodule
/foundationforms
/tagfield
/pagejax
/trait-loader
/silverstripe-social
/composer.lock
assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
/install.php
/web.config
/.htaccess
mysite/_config.php